{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            },
            "include": [],
            "exclude": []
        }]
    ],
    "plugins": [
        "transform-object-rest-spread"
    ]
}
